build/
out/
dist/*
!dist/
!dist/XylarJava.zip
.vs/
.vscode/
CMakeUserPresets.json
*.user
*.suo
*.log
*.tmp
__pycache__/
*.pyc
data/**/*
!data/instances/
!data/instances/.gitkeep
!data/libraries/
!data/libraries/.gitkeep
!data/assets/
!data/assets/.gitkeep
!data/runtimes/
!data/runtimes/.gitkeep
