bin/
obj/
publish/
.vs/
*.exe
*.dll
*.pdb
*.user
*.log
*.cache
.DS_Store
Thumbs.db
debug.log
launcher_profile.json
microsoft_accounts.json
instances/
skins/

# Allow the release EXE to be tracked
!release/
!release/*.exe
